body{
    margin: 30px;
    padding: 50px;
    border: 3px solid cyan;
    text-align: center;
    background-color: rgb(215, 245, 169);
}
#heading-div{
    font-size: 30px;
    background-color: darkgreen;
    color: rgb(43, 0, 255);
}
#banner{
    display: inline;
    
}

#ing-div{
    display: inline-block;
    /* border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px; */
}
#steps-div{
    display: inline-block;
    border: 1px solid black;
    text-align: left;
}
.ing-heading{
    background-color: darkcyan;
}
.steps-heading{
    background-color: darkcyan;
    text-align: center;
}
ul>li , ol>li{
    font-size: 20px;
}
#div1{
    border: 10px solid red;
    border-radius: 90px 90px 90px 90px;
}
p{
    font-size: 20px;
}
ol>li{
    font-size: 22px;
    font-weight: bold;
}